<div class="container">
    <div class="row">
        <div class="col-12"></div>
        <app-header></app-header>
    </div>
</div>

<div class="container">
    <div class="row">
        <section id="home">
            <div class="">
                <h1 class="display-"> Star Wars Species </h1>
                <p class="lead">Todas las especies de Star Wars y sus detalles</p>
            </div>
        </section>

    </div>
</div>


<div class="container">
    <router-outlet></router-outlet>
</div>

<div class="container">
    <div class="row">
        <div class="col-12"></div>
        <app-footer></app-footer>
    </div>
</div>
